.tooltip {
    padding: 8px;
    font-family: Arial;
    background-color: black;
    opacity: .7;
    color: white;
}

.flex {
    display: flex !important;
}

.checkboxes {
    width: 100%;
    justify-content: space-between;
    border: 1px solid darkgray;
}

#sliderContainer {
    text-align: center;
    position: relative;
    width: 100%;
    border:1px solid darkgray;
}

rect {
    fill: darkgrey;
}

h1 {
    text-align: center;
    padding-left: 125px;
}

#filtersAndBar {
    flex-direction: column;
    /* border: 1px solid darkgray; */
}

#filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.active {
    order: -1;
    flex: 1 0 100%;
    text-align: center;
}

#barGraph {
    
    width: 100%;
    border:1px solid darkgray;
}
input[type="range"] {
    justify-content: left;
    width:300px;
  }
