/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 6px;
  margin-left: 6px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 20%;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #82ada9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tooltip {
    padding: 8px;
    font-family: Arial;
    background-color: black;
    opacity: .7;
    color: white;
}

.flex {
    display: flex !important;
}

#map {
	width: 1000px;
}

.checkboxes {
    width: 100%;
    justify-content: space-between;
    border: 1px solid darkgray;
}

#sliderContainer {
    text-align: center;
    position: relative;
    width: 100%;
    border:1px solid darkgray;
}

rect {
    fill: darkgrey;
}

h1 {
    text-align: center;
    padding-left: 125px;
}

#filtersAndBar {
    flex-direction: column;
    /* border: 1px solid darkgray; */
}

#filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.active {
    order: -1;
    flex: 1 0 100%;
    text-align: center;
}

#barGraph {
    
    width: 100%;
    border:1px solid darkgray;
}
input[type="range"] {
    justify-content: left;
    width:300px; 
}

label {
    color:black;
    font-family: optima;
}

