body {
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    width: 85%;
}


/* Customize the label (the container) */
.checkboxContainer {
  font-family: 'Roboto', sans-serif !important;
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 6px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 20%;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #82ada9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tooltip {
    padding: 8px;
    font-family: Roboto;
    background-color: black;
    opacity: .7;
    color: white;
}

.legend {
	font-family: Roboto;
}

.flex {
    display: flex !important;
}

#map {
	width: 1000px;
}

.checkboxes {
    width: 100%;
    justify-content: space-between;
    border: 1px solid #82ada9;
}

#sliderContainer {
    text-align: center;
    position: relative;
    width: 100%;
    border:1px solid #82ada9;
	border-radius: 10px 10px 0 0 ;
}

/* #titleContainer {
    text-align: center;
    max-width:700px;
   	margin:auto;
    border:1px solid #82ada9;
    border-radius: 10px;
} */

rect {
    fill: #82ada9;
}

h1 {
    text-align: center;
}

#filtersAndBar {
    flex-direction: column;
}

#filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	width: 455px;
}

.active {
    order: -1;
    flex: 1 0 100%;
    text-align: center;
}

#barGraph {
    
    width: 100%;
}
input[type="range"] {
    justify-content: left;
    width:300px; 
}

label {
    color:black;
    font-family: Roboto;
}

/* #overview {
    width: 90%;
} */

.font{
    font-size: 20px;
}
