.tooltip {
    padding: 8px;
    font-family: Arial;
    background-color: black;
    opacity: .7;
    color: white;
}

.flex {
    display: flex !important;
}

.checkboxes {
    width: 100%;
    justify-content: space-between;
    border: 1px solid darkgray;
}

#sliderContainer {
    text-align: center;
    position: relative;
    width: 100%;
    border:1px solid darkgray;
}

rect {
    fill: darkgrey;
}

#filtersAndBar {
    flex-direction: column;
    /* border: 1px solid darkgray; */
}
